* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #007BFF;
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    color: #0056b3;
    font-size: 1.8em;
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
    line-height: 1.6;
    color: #111;
    font-style:oblique;
}

ul {
    list-style-type: disc;
    margin-left: 40px;
    margin-bottom: 20px;
}

ul li {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0056b3;
}

.gambar-container{
    display: flex;
    gap: 10;
}

.gambar{
    width: 150px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
}
